.pics {
  display: block;
  border: 16px solid rgb(241, 139, 139);
  border-radius: 10px;
  margin: 32px 24px;
  height: fit-content;
}

.pics:hover {
  border-color: transparent;  
}

.pics img {
  display: block;
}

.gallery-page {
  display: flex;
  flex-wrap: wrap;
}
