.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:not([type="radio"], [type="checkbox"]),
textarea {
  width: 300px;
}

input#password {
  width: 220px;
}

input#fullname {
  text-transform: capitalize;
}

.buttons {
  display: flex;
}

.buttons input {
  width: 110px;
  margin: 0 8px;
  background: rgb(0, 60, 255);
  cursor: pointer;
  color: white;
  opacity: .7;
}

.buttons input:hover {
  opacity: 1;
}

input#clear {
  background: rgb(255, 0, 0);
}

input#clear:active {
  background: brown;
}

input#submit:active {
  background: rgb(0, 252, 0);
}
